In [2]:
import pandas as pd 

import pandas as pd

#def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:

person = pd.DataFrame({
    'personID': [1, 2],
    'lastName': ["Wang", 'Alice'],
    'firstName': ['Allen', 'Bob']
})

address = pd.DataFrame({
    'addressID': [1, 2],
    'personID': [21, 1],
    'city': ["New York City", 'Leetcode'],
    'state': ['New York', 'California']
})

result = pd.merge(person, address, on='personID', how='left')

result_table= result[["firstName", 'lastName', 'city', 'state']]

result_table

  firstName lastName      city       state
0     Allen     Wang  Leetcode  California
1       Bob    Alice       NaN         NaN